/*----- Author CSS -----*/

/*Intro*/
body{
  background:#F2F4F9;
}

/* Grid */
.container{width: 75em; margin: 0 auto;}



.name{
  color:#585858;
  font-size:34px;
  font-weight:400;
  border-bottom:dashed 1px #979797;
}
